.cart {
  background-color: var(--clr-white);
  min-height: 299px;

  border-radius: 8px;

  padding: 32px 27px 28px;

  position: fixed;
  top: 00;

  max-width: 100%;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: 0.5s ease-in-out;
  z-index: var(--z-index-cart);

  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  max-height: 80%;
  overflow: auto;

  @include fade(out);

  @include media(md) {
    z-index: initial;
    width: rv(300px, 384px);
    right: initial;
    position: sticky;
    top: 50px;
    transform: none;
    @include fade(in);
  }
  @include media(md, max) {
    &.show {
      @include fade(in);
    }
  }
  &-header {
    font-size: rv(23px, 25px);
    color: var(--clr-red);
    font-weight: var(--fw-bold);
  }

  &-empty {
    display: grid;
    justify-items: center;
    gap: 1rem;
    color: var(--clr-rose-500);
  }
  &-items {
    display: grid;
    gap: 5px;
    width: 100%;

    &.cloned {
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 1.4rem;

      .confirm {
        display: block;
      }
      .cart-item-thumbnail {
        display: block;
      }

      .cart-item-thumbnail {
        display: block;
      }
      .remove-item {
        display: none;
      }

      .cart-item {
        gap: 1rem;
        &-total {
          font-weight: var(--fw-medium);
        }
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-rose-100);
    padding-block: 8px;
    animation: fade 0.2s linear 1;

    &-details {
      width: 100%;
      p {
        font-size: rv(14px, 1rem);
        color: var(--clr-gray-dark);
        font-weight: var(--fw-semibold);
        margin-bottom: 8px;
      }

      & > span {
        font-size: rv(12px, 15px);
        color: var(--clr-gray-light);
        display: flex;
        gap: 1rem;
      }
    }

    &-quantity {
      color: var(--clr-red);
      font-size: rv(14px, 15px);
    }

    .confirm {
      display: none;
    }

    &-thumbnail {
      display: none;
    }

    button {
      border: 1px solid var(--clr-rose-400);
      @include box(20px);
      border-radius: 50%;
      @extend %grid-center;

      &:hover {
        border-color: var(--clr-rose-500);
      }
    }
  }

  &-item-thumbnail {
    display: none;
    border-radius: 8px;
    max-width: 60px;
  }

  &-footer {
    margin-top: 2rem;
    width: 100%;
    justify-self: flex-end !important;
    display: grid;
    gap: 1.2rem;
  }

  &-empty,
  &-footer,
  &-items {
    animation: fade 0.5s 1 linear;
  }
  &-total p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--fw-semibold);
    span:first-child {
      color: var(--clr-gray-dark);
    }
  }

  &-delivery {
    @extend %flex-center;
    gap: 9px;

    text-transform: capitalize;
    color: var(--clr-rose-500);
    background-color: var(--clr-rose-100);
    border-radius: 8px;
    padding: 10px;

    font-size: 15px;
    font-weight: var(--fw-medium);
    strong {
      font-size: inherit;
    }
  }

  &-total-price {
    font-size: 23px;
    font-weight: var(--fw-bold);
  }

  strong {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: var(--fw-bold);
    color: var(--clr-red);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
