.overlay {
  position: fixed;
  background-color: rgba(black, 0.4);
  transition: 0.5s ease-in-out;
  inset: 0;
  z-index: var(--z-index-overlay);

  @include fade(out);

  // @include media(lg, max) {
    &.show {
      @include fade(in);
    // }
  }
}
